.graphs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    .graph__item{
        min-height: 15rem;
        width: 100%;
    }
}