.div{
  background: var(--background-color);
  border-radius: 30px;
   &::before {
      position: absolute;
      content: "";
      inset: 0;
      padding: 1px;
      border-radius: 30px;
      background: var(--border-color);
      mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
}