.header {
  .header__location {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .input-container {
    outline: none;
    width: 360px;
    height: 50px;
    border-radius: 30px;
    padding: 0 20px;
    background: var(--background-color);
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      padding: 1px;
      border-radius: 30px;
      background: var(--border-color);
      mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
    svg path {
      fill: var(--main-color);
    }
  }
}
